button {
  width: 100px;
  height: 40px;
  background: #e0e0e0;
  box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
  border-radius: 10px;
  cursor: pointer;
  transition: 300ms ease-in-out;
  font-family: Noto Sans JP;
  font-size: 16px;
  font-weight: 500;
  border: none;
  margin-top: 10px;
}

button:hover,
:focus {
  background: #aeaeae;
}

button.outline {
  border: 2px solid #3d5afe;
  color: #3d5afe;
  background: #FFF;
}

button.outline:hover,
:focus {
  background: rgba(41, 98, 255, 0.1);
}

button.text {
  border: none;
  background: none;
  box-shadow: none;
  color: #3d5afe;
  cursor: text;
}

button.text:hover,
:focus {
  background: rgba(41, 98, 255, 0.1);
  border-radius: 6px;
  cursor: pointer;
}

button.disableShadow {
  box-shadow: none;
  background: #3D5AFE;
  color: #FFF;
  border: none;
}

button.disabled {
  background: #E0E0E0;
  color: #9E9E9E;
  cursor: not-allowed;
}

button.text.disabled {
  background: none;
  cursor: not-allowed;
}
